// you can change colors here
//$theme-color: #096dd9;
$theme-color: #FF8800;
$content-width: 1100px;
//$home-page-width: 1160px !default;
$home-page-width: 1160px;
$navbar-height: 3.75rem !default;
$navbar-horizontal-padding: 1.5rem !default;
$navbar-vertical-padding: 0.7rem !default;
$bg-color-tertiary: #FF8800;
